<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>The history of Blackberry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-img tag is used for getting an image via link-->
  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/BlackBerry_Bold_in_Hand.jpg"></ion-img>
  <p>BlackBerry, originally called Research in Motion (RIM), was a Canadian telecommunications and wireless equipment company founded in 1984. The company initially focused on providing pagers to businesses but shifted its focus to smartphones in the early 2000s.

    The BlackBerry smartphone was introduced in 2003 and quickly became popular among business professionals due to its secure messaging capabilities and full QWERTY keyboard. BlackBerry also developed its own operating system, called BlackBerry OS, which was designed to provide a secure and reliable platform for messaging and productivity.
    
    BlackBerry continued to dominate the smartphone market throughout the mid-2000s, with many business professionals and government agencies choosing the BlackBerry for its security and reliability. However, the rise of the iPhone and Android smartphones in the late 2000s and early 2010s led to a decline in BlackBerry's market share.
    
    In an attempt to regain market share, BlackBerry released a new operating system, BlackBerry 10, in 2013. However, the new operating system failed to gain traction, and BlackBerry continued to struggle in the smartphone market.
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Blackberry_Logo.svg"></ion-img>
    In recent years, BlackBerry has shifted its focus to software and security services, such as its BlackBerry Enterprise Mobility Suite, which provides secure messaging, mobile device management, and other enterprise-grade security features.
    
    Today, BlackBerry is a much smaller company than it was at its peak, but it remains a respected name in the technology industry, particularly in the realm of security and enterprise mobility.</p>
    <!--I used the 'back to home' routerlink just in case my back button crashes-->
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
