<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>The history of Samsung</ion-title>
    <!--This is the back button, for navigating through the app-->
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Samsung_display_Salt_Lake_Olympics.jpg"></ion-img>
  <p>Samsung is a multinational conglomerate that was founded in 1938 in South Korea. Originally, the company focused on trade exports and food processing. It wasn't until the 1960s that Samsung started to expand into the technology industry with the production of televisions, radios, and other electronics.

    Throughout the 1980s and 1990s, Samsung continued to grow its presence in the technology industry, with a focus on semiconductors, memory chips, and LCD screens. The company also expanded into the telecommunications industry with the development of mobile phones and smartphones.
    
    In the early 2000s, Samsung became a major player in the smartphone market with the introduction of the Galaxy series, which quickly became one of the top-selling smartphone brands in the world. The company also continued to innovate in other areas, such as televisions and home appliances.

    <ion-img src ="https://upload.wikimedia.org/wikipedia/commons/a/a1/%EB%B3%B8%EC%82%AC_%EC%82%AC%EC%98%A5.jpg"></ion-img>
    
    In recent years, Samsung has faced some challenges, including a high-profile recall of its Galaxy Note 7 smartphones due to a battery issue. However, the company has continued to push the boundaries of technology with the introduction of foldable smartphones and 5G technology.
    
    Samsung is also a leader in the development of artificial intelligence (AI) and Internet of Things (IoT) technologies, with products such as the Samsung SmartThings platform and Bixby, its virtual assistant.
    
    Today, Samsung is one of the largest and most valuable companies in the world, with a focus on technology, consumer electronics, and other industries. Its innovative products and services continue to shape the technology industry and impact people's daily lives.</p>
    <!--routerlink to send us back to the home page-->
    <li [routerLink]="['/home']" color="orange">BACK TO HOME</li><br>
</ion-content>
