

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!--I'm using line breaks at the beginning because it looks better that way when I run the app-->
 <br><br><br><br><br><br><br><br><br><br><br><br>
 <h1>Brendan's Project</h1>
 <br>
<!--the routerlink tags in the ionic buttons are used to send you to the page it states-->
 <p>Here are the four most iconic phones of the last decade</p>
 <br>
 <!--Using ion-button's to seperate the 4 phones from the rest of the routerlinks-->
 <ion-button [routerLink]="['/iphone']" fill="outline" color="white">iPhone</ion-button><br>
 <ion-button [routerLink]="['/samsung']" fill="outline"color="#white">Samsung</ion-button><br>
 <ion-button [routerLink]="['/windows-phone']" fill="outline" color="white">Windows Phone</ion-button><br>
 <ion-button [routerLink]="['/blackberry']" fill="outline" color="white">Blackberry</ion-button><br>
 <br>
 <br>
 <p color="blue">Here is a brief summary of the features this app has</p>
 <li [routerLink]="['/summaryapp']" color="orange">Summary</li><br>
 <p color="blue">List of movies with 'War' in the title</p>
 <li [routerLink]="['/movies']" color="orange">'War' Movies</li><br>
 <p color="blue">Choose your favourite phone brand (saves the result) </p>
 <li [routerLink]="['/status']" color="orange">Favourite Phone</li><br>
 <p color="blue">Find your exact location with GPS</p>
 <li [routerLink]="['/gps']" color="orange">GPS</li><br>
 <p color="blue">Check out the current screening times in Omniplex, Salthill</p>
 <li [routerLink]="['/browser']" color="orange">Cinema Times</li><br>
 
  </div>
</ion-content>
